body 
 {
     margin: 0; 
     font-family: 
     Arial; 
    }
        header 
        { 
            background:#2c3e50;
            color:white;
            padding:20px;
            text-align:center;
         }
        nav 
        { 
            background:#34495e;
            text-align:center;
            padding:10px; 
        }
        nav a { 
            color:white;
            margin:0 15px;
            text-decoration:none;
            font-size:18px; 
        }
        .hero
         {
            background: url("backround.webp") ;

            
            height:70vh;
            display:flex;
            justify-content:center;
            align-items:center;
            color:white;
            font-size:40px;
            font-weight:bold;
            text-shadow:2px 2px 5px black;
        }
        .section 
        { 
            padding:40px;
            text-align:center; 
        }
        .rooms, .menu-items
         {
            display:flex;
            justify-content:center;
            gap:30px;
            flex-wrap:wrap
            ;margin-top:20px;
        }
        .card 
        {
            width:280px;
            border-radius:10px;
            box-shadow:0 2px 8px rgba(0,0,0,0.2);overflow:hidden;text-align:left;
        }
        .card img 
        { 
            width:100%;
            height:170px;
            object-fit:cover; 
        }
        .card .info
         { 
            padding:15px;
         }
        video
         { 
            width:80%;
            border-radius:10px;
            margin-top:20px; 
        }
        .footer
         { 
            background:#2c3e50;
            color:white;
            padding:20px;
            text-align:center;
            
            margin-top:30px; }
    




